@model IEnumerable<Quosten2.Models.Student>

@{
    ViewBag.Title = "ShowStudent";
}
@{ 
    @Html.Partial("ViewP")
}
<h2>ShowStudent</h2>

<p>
    @Html.ActionLink("Create New", "AddStudent")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JavaMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DotNetMarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JavaMarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DotNetMarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateStudent", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "StudentDetails", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "DeleteStudent", new { id=item.StudentId })
        </td>
    </tr>
}


</table>
@{ 
    @Html.Partial("PView")
}
