@model Quosten2.Models.Student

@{
    ViewBag.Title = "StudentDetails";
}

<h2>StudentDetails</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JavaMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JavaMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DotNetMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DotNetMarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateStudent", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "ShowStudent")
</p>
